.menu_fr4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
    text-align: center;
    
    a {
        text-decoration: none;
    }
}
main{ 
    h1 {
    text-align: center;
    font-size: 3rem;
    }
    .formulario {
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        width: 80%;
        margin: auto;
        padding: 2rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        background-color: rgba(255,255,255,0.8);
        label {
            font-size: 2rem;
        }
        input, select, button{
            font-size: 1.2rem;
            border-radius: 2rem;
            padding: 0.5rem;
            border-color: darkred;
            margin-bottom: 0.5rem;
        }
        button {
            background-color: rgba(255,255,255);
            width: 15rem;
        }
        ::placeholder {
            color: grey;
        }
        .formulario_fr2{
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 1rem;
            row-gap: 1rem;
        }
    }
    .citas_fr4 {
        margin: auto;
        
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            column-gap: 2rem;
            padding: 2rem;
            background-color: rgba(255,255,255,0.8);
            border-radius: 1rem;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            width: 80%;
            margin: auto;
            li {
                border: 1px solid gray;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                padding: 1rem;
                margin: 1rem 0;
                list-style: none;
                h2 {
                    font-size: 1.5rem;
                }
                p {
                    font-size: 1.2rem;
                }
                button {
                    margin: 0 1rem;
                    background-color: white;
                    border: 1px solid darkred;
                    border-radius: 1rem;
                    padding: 0.5rem;
                }
            }
        }
        
    }
}